data.pkl
/utils/__pycache__/
/results/
/results_fake/
/results_fake_test/
/results_vision_fake/
trl
/dpo_output
/dpo_13b_output
/csv_results
/.cache/
/evaluation/
/data/fake_knowledge_test_filtered.json
/data/data_with_keyword.json
/data/fake_knowledge_with_evidence.json
/data/dpo_test.json             
/data/fake_knowledge_with_evidence_parsed_test.json
/data/dpo_train.json
/data/fake_knowledge_with_evidence_test.json
/data/fake_knowledge.json
/data/fake_knowledge_test.json
/parse_generate.py
/parse_classify.py
/parse_vision.py
/extract_answer_from_credible.py
/inference_dpo.py
/api
